header {
    background-color: #0d0630;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
	z-index: 1000;
}

section.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    height: 100%;
    border-right: 1px solid #e7ecef;
    background-color: #3c91e6;
}

section.logo i {
    font-size: 28px;
    margin-right: 5px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

header ul li {
    padding: 10px;
}

header ul a {
    text-decoration: none;
    color: #e7ecef;
}

header ul a:hover {
    text-decoration: none;
    color: #fff;
}

  main {
    color: #4f585e;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
  }

  div.card {
    display: flex;
    flex-direction: column;
    flex-basis: 21%;
    background: #ffffff;
    margin: 50px;
    -webkit-perspective: 1000;
            perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
  }
  div.card img {
    width: 100%;
    height: 15rem;
  }
  div.card div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
  }
  
  div.card div.card-title h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
  }
  div.card div.card-title h2 small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
  }

  footer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24292e;
    color: #b0b0b0;
    font-size: small;
    flex-grow: 2;
}

footer hr {
    flex-grow: 1;
    display: inline;
    border: 1px solid #575757;
    margin-left: 5%;
    margin-right: 5%;
}
